*{
	padding: 0;
	margin: 0;
}
html{
	background: #eff0f4;
	min-height: 100vh;
	min-width: 100px;
}
a{
	color:white;
	text-decoration: none;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.header{
	height: 55px;
	width: 100%;
	position: relative;
	top: 0;
	padding: 0;
	margin: 0;
	background: #5fc0cd;
}
.header span{
	color: white;
	line-height: 55px;
	font-size: 20px;
	padding: 0 10px 0 10px;
}
.header .headerTitle{
	margin: 0 auto;
	text-align: center;
	font-size: 23px;
	color: white;
	line-height: 55px;
}
/*表单布局*/
/*input{
	width: 90%;
	display: block;
	height: 55px;
	font-size: 20px;
	margin-top: 10px;
	border:none;
	border-radius: 5px;
}*/
button{
	width: 100%;
	background: #5fc0cd;
	height: 60px;
	line-height: 60px;
	border:none;
	color: white;
	font-size: 23px;
	letter-spacing: 5px;
	margin-top: 40px;
}
.inputStyle{
	background: white;
	margin-top: 10px;
	height: 60px;
}
input{
	height: 60px;
	line-height: 60px;
	width: 90%;
	float: left;
	float-left:35%;
	border:hidden;
	font-size: 23px;
	position: absolute;
	margin-left: 5px;
}
img{
	margin: 4px 5px 0 2px;
}
/*忘记密码*/
.forgetPassword a{
	color:#5fc0cd;
	float: right;
	position: relative;
	font-size: 21px;
	margin-top: 7px;
	margin-right: 15px;
}
/*登录提示*/
.container{
	width: 100%;
	margin:auto;
}
#loginTips{
	border-radius: 7px;
    background: #747577;
    height: 53px;
    color: #e1e2e2;
    line-height: 53px;
    font-size: 19px;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top:50px;
    width: 270px;
    display: none;
}
#loading{
	border-radius: 7px;
    background: #747577;
    height: 90px;
    color: #e1e2e2;
    line-height: 30px;
    font-size: 19px;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top:100px;
    width: 90px;
	display: none;
}
.loadingTitle{
	padding-top: 10px;
}
/*加载*/
.square{
	width: 40px;
    height: 40px;
    margin:auto;
    border:4px solid #ffffff;
    border-radius: 50%;
    top:10px;
    position: relative;
    z-index: 99;
}
.blue{
	width: 40px;
    height: 40px;
    border: 4px solid #5fc0cd;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-radius: 50%;
    margin-bottom: 1px;
    position: absolute;
    left: -4px;
    top: -4px;
    -webkit-animation: circle 1s infinite cubic-bezier(0.35, 0.15, 0.71, 0.89);
}
@-webkit-keyframes circle{
0%{ transform:rotate(0deg); }
100%{ transform:rotate(360deg); }
}